body {
    color: #edf2f4;
    background-color: #efefefde;
    font-family: 'Gemunu Libre', sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

span {
    font-size: 60px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    color: #2b2d42;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0 24px 0;
    padding: 18px;
}

.container h2 {
    margin-bottom: 24px;
}

.custom-button {
    font-family: 'Gemunu Libre', sans-serif;
    color: #2b2d42;
    background-color: #fff;
    box-shadow: -1px 7px 14px -5px rgba(0,0,0,0.75);
    border-radius: 12px;
    padding: 12px;
    font-size: 36px;
}

.custom-button:hover {
    color: #fff;
    background-color: #2b2d42;
    transform: translateY(-6px);
    transition: transform 0.5s;
    cursor: pointer;
}

.rerun-button {
    font-family: 'Gemunu Libre', sans-serif;
    color: #2b2d42;
    background-color: #fff;
    box-shadow: -1px 7px 14px -5px rgba(0,0,0,0.75);
    border-radius: 12px;
    padding: 12px;
    font-size: 36px;

}

.rerun-button:hover {
    color: #fff;
    background-color: #2b2d42;
    transform: translateY(-6px);
    transition: transform 0.5s;
    cursor: pointer;
}

.timer {
    background-color: #2b2d42;
    box-shadow: -1px 7px 14px -5px rgba(0,0,0,0.75);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
    margin-bottom: 24px;
}

.countdown {
    font-size: 48px;
    font-weight: 300;
}

.message {
    font-size: 60px;
}

/* EVENT LISTENER STYLES */
.active {
    display: block;
}

.hidden {
    display: none;
}